body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: grey;
}

a {
  color: #00B7FF;
}

img {
  position: relative;
  margin-top: 6vh;
  height: 12vh;
  width: 12vh;
}

nav {
  padding-left: 3vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.404);
  height: 8vh;
}

div > h2 {
  text-align: center;

}

div {
  display: flex;
  border-radius: 12px;
  background-color: red;
  height: 30vh;
  width: 55vh;
}

.database {
  margin-left: 50vh;
  margin-top: 5vh;
}

.un {
  margin-left: 100vh;
  margin-top: -30vh;
}

