body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: grey;
}

a {
  color: #00B7FF;
}

img {
  position: relative;
  margin-top: 6vh;
  height: 12vh;
  width: 12vh;
}


div > h2 {
  text-align: center;

}


.database {
  margin-left: 50vh;
  margin-top: 5vh;
}

.un {
  margin-left: 100vh;
  margin-top: -30vh;
}

nav {
  background-color: #333;
  color: #fff;
}


nav ul li {
  display: inline-block;
  padding:15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}



.grade-table {
  width: 60%;
  border-collapse: collapse;
  margin: 0 auto;
}

.grade-table th,
.grade-table td {
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

.grade-table thead th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.grade-table tbody td {
  background-color: #ffffff;
}



