<%- include('../partials/header') %>
<form action="/students/grade" method="POST">
    <h2>Grade</h2>

    <ul>
     <li><label for="project">student name:</li></label>
    
    <br>
    <li><label for="project">Project:</li></label>
      <input id="project" type="number" name="project">
    <br>
    <li><label for="homework">homework:</li></label>
      <input id="homework" type="number" name="homework">
    <br>
    <button id="submit" type="submit">ADD GRADE</button>
  </ul>


  


  </form>