
<%- include('../partials/header') %>
<div class="new-std-form-cont">
<form action="/students" method="POST" class="new-std-form">
  <h2>Add a New Student</h2>

  <label for="name">Name:</label>
  <input id="name" type="text" name="name" />
  <br />
  <label>Email:</label>
  <input id="email" type="text" name="email" />
  <br />
  <label for="phone">Phone-number</label>
  <input id="phone" type="tel" name="phone" required pattern="[0-9]{8}" />
  <div class="checkbox">
  <label>Detalis Avaliable:</label>
  <input id="check" type="checkbox" name="Detalis" value="false" checked />
  </div>
  <br />
  <div class="new-std-btn">
  <button id="submit" type="submit">ADD STUDENT</button>
  </div>
</form>
</div>
<%- include('../partials/footer') %>
