<link rel='stylesheet' href='/stylesheets/style.css' />
<form action="/users" method="POST">
  <h2>Add a New User</h2>
  <ul>
  <li><label for="name">Name:</li>
    <input id="name" type="text" name="name">
  </label><br>
  <li><label>Email:</li>
    <input id="emali" type="text" name="email">
  </label><br>
  <li><label for ="phone">Phone-number</li>
    <input id="phone" type="number" name="phone">
  <li><label>Detalis Avaliable:
      <input id="check" type="checkbox" name="Detalis" value=false checked>
  </label><br></li>
  <button id="submit" type="submit">ADD USER</button>
</ul>
</form>