<%- include('../partials/header') %>
<div class="new-hw-cont">
  <h2>Add a New Homework</h2>
  <form action="/homeworks" method="POST">
    <label for="student">Select Student:</label>
    <select name="student" id="student">
      <% students.forEach(student => { %>
      <option value="<%= student._id %>"><%= student.name %></option>
      <% }); %>
    </select>

    <label for="name">Name:</label>
    <input id="name" type="text" name="name" />

    <br />

    <label>deliverTime:</label>
    <input id="deliverTime" type="date" name="deliverTime" />

    <br />

    <label for="description">description</label>
    <input id="description" type="text" name="description" />

    <label>gradeWaight:</label>
    <input id="gradeWaight" type="number" name="gradeWaight" />

    <br />

    <div class="new-hm-btn"><button id="submit" type="submit">ADD GRADE</button></div>
  </form>
</div>
<%- include('../partials/footer') %>

