<%- include('./partials/header') %>
<div class="software">
	<h1>GAST</h1>
</div>
<section id="course">
	<h2>Software Enginnering Course</h2>
	<h3>Course Details:</h3>
	<li>Course Name: Software Enginnering Course</li>
	<li>members: 30</li>
	<li>Duration: 20july 2024-30 sep 2024"</li>
	<td><% if (user?._id) { %></td>
	<a href="/students/details">
	<button
			class="mainpagebtn"
			type="submit">
			Enter
		</button> </a
	><%}%> <%- include('./partials/footer') %>
</section>

