<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav><button>Home</button>
  </nav>

  <img src ="https://i.pinimg.com/736x/94/09/7e/94097e458fbb22184941be57aaab2c8f.jpg">;

    <h1>Welcome to my website!</h1>
    
    <h2>Courses List</h2>
    <div class="software"><h2>Software Enginnering Course</h2><a href="/students/details"><button id="ADDALL" type="submit">Enter</button></a></div>
    <section id="course">
      <h2>Course Details:</h2>
      <li>Course-Name: Software Enginnering Course </li>
      <li>members: 30 </li>
      <li>Duration: 20july 2024-30 sep 2024"</li>
  </body>
</html>
