<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav>
  <ul>
    <li>    <a href="/courses">>
      Home</a>	</li>
  </ul>
  </nav>

  <img src ="https://i.pinimg.com/736x/94/09/7e/94097e458fbb22184941be57aaab2c8f.jpg">;

    <h1>Welcome to my website!</h1>
    
    <h2>Courses List</h2>
    <div class="software"><h2>Software Enginnering Course</h2></div>
    <div class="un"><h2>UI/UN Course</h2></div>s
    <div class="software"><h2>Database Course</h2></div>

  </body>
</html>
