

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="/stylesheets/style.css" />
		<title><%= "" %></title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">HOME</a></li>
				<% if(user){ %>
				<li><a href="/students/details">COURSE DETAILS</a></li>
				<li><a href="/students">ALL STUDENTS</a></li>
				<li><a href="/students/new">ADD STUDENT</a></li>
				<li><a href="/students/attendance">ATTENDANCE</a></li>
				<li><a href="/logout">LOG OUT</a></li>
				<% } else { %>
				<li>
					<a
						href="/auth/google"
						class="login">
						<img src="https://i.imgur.com/FHjYyi0.png" />&nbsp;</a
					>
				</li>
				<% } %>
			</ul>
		</nav>
	</body>
</html>

