<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>course</title>
</head>
<body>
    <!-- get courseid and from it it will display stu,user -->
    <table>
        <th>Instructors name:</th>
        <!-- <tr>users.foreach()</tr> -->
    </table>
    <table>
        <th>students name:</th>
        <th>homework(%):</th>
        <th>project(%)</th>
        <th>attendance(%):</th>
        <!-- students.foreach(student)=>{
        <tr><%=student.name%></tr>
        <tr>HW</tr>
        <tr>att</tr>
         <tr>att</tr>
        } -->
    </table>
</body>
</html>